<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EStimater</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="container-fluid d-flex align-items-center justify-content-center bg-hero" style="height: 100vh;">
        <div class="text-center text-white" style="z-index: 2;opacity: 0.8;">
            <p class="h3">WELCOME</p>
            <p class="h5">We are team of talented data analyst making analysis on student performance</p>
            <a href="estimate-form.html" class="btn btn-outline-primary">Get Started</a>
        </div>
        <footer>
                <nav class="navbar navbar-expand-lg mt-auto fixed-bottom navigation">
                    <p class="navbar-brand h1 text-white ms-3">STUDENT PERFORMANCE ANALYSIS</p>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                    <div class="navbar-collapse navbar" id="menu">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link active">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="dashboard.html" class="nav-link">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a href="report.html" class="nav-link">Report</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Story</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
        </footer>
    </div>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>